<ion-view view-title="About ">
    <!-- do you want padding? -->
    <ion-content class="padding custom-background">


        <ion-list>
            <ion-item class="item item-divider">
                Credits
            </ion-item>


            <ion-item class="item item-icon" href="http://magic.wizards.com/en/community/fan-kits">
                MTG Fan Kits
            </ion-item>
            <ion-item class="item item-icon" href="https://deckbrew.com/api/">
                Deskbrew API
            </ion-item>
            <ion-item class="item item-icon" href="https://andrewgioia.github.io/Keyrune/index.html">
                Keyrune
            </ion-item>

            <ion-item class="item item-divider ">
                Copyright
            </ion-item>
            <ion-item class="item item-text-wrap">
                Magic: The Gathering is copyrighted by Wizards of the Coast.
                This app is not produced, endorsed, supported, or affiliated with Wizards of the Coast.
            </ion-item>


        </ion-list>

    </ion-content>
</ion-view>
