<ion-view view-title="Card Sets">
    <!-- do you want padding? -->
    <ion-content class="padding">

        <!-- content goes here -->
        <!--<ion-list>-->
        <!--<ion-item class="item item-divider">-->
        <!--This is your all-sets template!-->
        <!--</ion-item>-->
        <!--<ion-item class="item item-icon">-->
        <!--Yeiiii!-->
        <!--</ion-item>-->
        <!--</ion-list>-->


        <!--{{cardSets}}-->

        <ion-list>
            <ion-item ng-repeat="set in cardSets"
                      class="item-remove-animate  item-icon-right"
                      type="item-text-wrap"
                      ui-sref="main.singleSet({ setCode:set.setCode })">
                <i class="ss ss-{{::set.setCode}} ss-3x ss-common ss-fw   ss-uncommon ss-grad"></i>
                {{::set.setTitle}}
                <i class="icon ion-chevron-right icon-accessory"></i>
                <!--<h4>{{::set.setCode}}</h4>-->
            </ion-item>
        </ion-list>

        <!--<ion-item-->
        <!--class="item-remove-animate item-avatar item-icon-right"-->
        <!--type="item-text-wrap"-->
        <!--ui-sref="main.listDetail">-->
        <!--<img src="main/assets/images/yo@2x.png">-->
        <!--<h2>Mr. Yo</h2>-->
        <!--<p>Learn more...</p>-->
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
        <!--</ion-item>-->

    </ion-content>
</ion-view>
