<ion-view view-title="Home">
    <!-- do you want padding? -->
    <ion-content class="padding home-page custom-background">

        <!-- content goes here -->

        <div class="header-container"><img class="mtg-logo" src="main/assets/images/mtgLogo.png">
         <h4 class="logo-title">   Card Viewer</h4>
        </div>

        <!--<img src="main/assets/images/yo@2x.png">-->


        <div class="row">
            <div class="col col-50">
                <div class="list card" ui-sref="main.allSets">

                    <div class="item item-divider"><p>All Sets</p>


                    </div>
                    <div class="item item-image">
                        <img src="main/assets/images/avatarGods.jpg">
                    </div>


                </div>
            </div>
            <div class="col col-50">
                <div class="list card" ui-sref="main.likedCards">

                    <div class="item item-divider"><p>My Saved Cards</p>
                    </div>
                    <div class="item item-image">
                        <img src="main/assets/images/avatarJace.jpg">
                    </div>


                </div>
            </div>
        </div>


        <div class="row">
            <div class="col col-50">
                <div class="list card" ui-sref="main.options">

                    <div class="item item-divider"><p>Options</p>
                    </div>
                    <div class="item item-image">
                        <img src="main/assets/images/avatarNissa.jpg">
                    </div>


                </div>
            </div>
            <div class="col col-50">
                <div class="list card" ui-sref="main.about">

                    <div class="item item-divider"><p>About</p>
                    </div>
                    <div class="item item-image">
                        <img src="main/assets/images/avatarGirl.jpg">
                    </div>


                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
