<ion-view view-title="main module">
    <!-- do you want padding? -->
    <ion-content class="">

        <!-- content goes here -->
        <!--<ion-list>-->
        <!--<ion-item class="item item-divider">-->
        <!--This is your single-set template!-->
        <!--</ion-item>-->
        <!--<ion-item class="item item-icon">-->
        <!--{{setCode}}-->
        <!--</ion-item>-->
        <!--</ion-list>-->

        <!--card list..-->


        <ion-list show-delete="false" can-swipe="true">
            <!--<ion-item ng-repeat="card in cards | limitTo: 3" class="item-borderless single-card">-->
            <!--&lt;!&ndash;works&ndash;&gt;-->
            <!--<img src="{{card.editions[0].image_url}}" alt="Card Image">-->

            <ion-item class="item-borderless single-card" ng-repeat="item in nums">
                <img src="https://image.deckbrew.com/mtg/multiverseid/398411.jpg" alt="Card Image">
                <ion-option-button class="button-calm icon ion-android-share-alt"
                                   ng-click="share()"></ion-option-button>
                <ion-option-button class="button-assertive icon ion-android-star" ng-click="save(item)"
                                   ng-disabled="$localForage.getItem(item) || array[item]"></ion-option-button>
                <!---->
                <!--ng-disabled="$localForage.getItem(item) === item"-->
                <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
                <!--<h4>{{::set.setCode}}</h4>-->
            </ion-item>
        </ion-list>

        <ion-infinite-scroll ng-if="thereAreMoreCards" immediate-check="false" on-infinite="loadMore()">
        </ion-infinite-scroll>

        <!--//TODO: add another ng-if isThisSet finished-->

        <button ng-if="!thereAreMoreCards" class="button button-full  button-mark-set " ng-click="setFinished()" ng-disabled="finishedSet">
            Mark This Set As Finished
        </button>

        <!--immediate-check="false"-->
    </ion-content>
</ion-view>
